* {
    font-family: 'PT Mono', monospace;
}

body {
    background-color:rgb(238, 202, 179);
}

.button {
    width: 100%;
}

#calcDisplay {
    text-align: right;
    letter-spacing: .05em;
    word-spacing: 3em;
}

li {
    padding-left: 0px;
    list-style-type: none;
    cursor: default;
}

/* #calculator {
    font-family: 'PT Mono', monospace;
} */

h1, .button, #clearHistory {
    font-family: 'Roboto', sans-serif;
}