* {
    font-family: 'PT Mono', monospace;
}

body {
    margin: 30px;
}

.button {
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: .3px;
    border-radius: 1px;
}

.number:hover {
    background-color: rgb(218, 218, 218);
}

#calcDisplay {
    text-align: right;
    letter-spacing: .05em;
    word-spacing: 3em;
}

ul {
    padding: 10px;
    list-style-type: none;
    cursor: default;
}

table {
    margin-top: 40px;
    width: auto;
    height: auto;
    background-color: #577cc1;
    padding: 5px;
    border-radius: 2px;
}

h1, .button, #clearHistory {
    font-family: 'Roboto', sans-serif;
}

.operator {
    background-color: #EEE784;
}

.operator:hover {
    background-color: #e4d837;
}

.equals, .clear {
    background-color: #C94745;
    color: white;
}

.clear:hover {
    background-color: #c2302e;
}
.equals:hover {
    background-color: #c2302e;
}

li:hover {
    font-size: 1.2em;
}