body {
    background-color:rgb(238, 202, 179);
}

.button {
    width: 100%;
}

#calcDisplay {
    text-align: right;
    letter-spacing: .05em;
    word-spacing: 3em;
}

li {
    list-style-type: none;
}